.BookDetail img{
    max-width: 200px;
}

.categories{
    display: flex;
    flex-wrap: wrap;
}

.category{
    padding: 8px;
    background-color: aliceblue;
    border-radius: 50px;
    margin: 10px;
    font-size: .8rem
}