.BookCard{
    width: 180px;
    margin: 20px 10px;
    /* height: 200px; */
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;

    &:hover{
        background-color: #eee;
    }

    img{
        object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 4px;
    }

    .authors{
        font-size: .9rem;
    }
}

