.Home{
    display: flex;
    flex-direction: column;
    align-items: center;

    *{
        width: fit-content;
    }
    & > div {
        margin: 30px;
    }

    .books{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

