.NavBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;

    a{
        text-decoration: none;
        color: #000000;
    }

    .logo{
        font-size: 2rem;
        font-weight: 500;
    }

    .greet{
        font-size: 1.1rem;
    }

    .btn{
        a{
            padding: 5px;
            font-size: 1.2rem;
            border: 1px solid #000000;
            border-radius: 4px;

            &:hover{
            background-color: #000000;
            color:#ffffff
        }
        }
    }
}